@model CMdm.UI.Web.Models.UserAdmin.SiteMapModel
@{
    ViewBag.Title = "SiteMap";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //List<SiteMapModel> Display = ViewBag.Display;
}

<table>
    <tr>
        <th>Action</th>
        <th>Attribute</th>
    </tr>
    <tbody>
        @*foreach (var item in Display)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ActionName)</td>
                <td>@Html.DisplayFor(modelItem => item.Url)</td>
            </tr>
        }*@
    </tbody>
</table>


