@model CMdm.UI.Web.Models.MdmWeight.MdmWeightModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Add a new Weight
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink("Back To List", "Index")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn btn-warning">
                <i class="fa fa-floppy-o"></i>
                Save
            </button>
            <button type="submit" name="save-continue" class="btn bg-purple">
                <i class="fa fa-floppy-o"></i>
                Save and Continue
            </button>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}