/*order list statuses*/
.order-list span.order-status {
    padding: .2em .6em .3em;
    border-radius: .25em;
    color: #2e2e2e;
}
.order-list span.order-status-pending {
    background-color: #f39c12;
    color: #fff;
}
.order-list span.order-status-processing {
    background-color: #00c0ef;
    color: #fff;
}
.order-list span.order-status-complete {
    background-color: #00a65a;
    color: #fff;
}
.order-list span.order-status-cancelled {
    background-color: #dd4b39;
    color: #fff;
}

/*grid color statuses*/
span.grid-report-item {
    padding: .2em .6em .3em;
    border-radius: .25em;
    color: #2e2e2e;
}
span.grid-report-item.yellow {
    background-color: #f39c12;
    color: #fff;
}
span.grid-report-item.blue {
    background-color: #00c0ef;
    color: #fff;
}
span.grid-report-item.green {
    background-color: #00a65a;
    color: #fff;
}
span.grid-report-item.red {
    background-color: #dd4b39;
    color: #fff;
}
.input-validation-error
{
    border: 1px solid #ff0000 !important;
    background-color: #ffeeee !important;
}

/*FCMB CUSTOM*/
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0 !important;
}

.box.box-purple {
    border-top-color: #BB16A3;
}

.box.box-solid.box-purple {
    border: 1px solid #BB16A3
}

.box.box-solid.box-purple > .box-header {
    color: #fff;
    background: #BB16A3
}

.box.box-solid.box-purple > .box-header .btn, .box.box-solid.box-purple > .box-header a {
    color: #fff
}

/*FCMB CUSTOM*/